/_dialzz_006j
__pycache__
/_enhanced_kronos
/_kronos
/.vscode
*.bin
*.log
*.apk
decompiled_apk/
hk89comp_decomp/
hk89comp_decomp.tgz
6.12_test-master/
apk/
test_suite/
output_enhanced_v2/
dial-sender/build/
dial-sender/app/build/
.gradle/
local.properties
.idea/
.DS_Store
*.bak
dial-sender/app/src/main/stfemulator/
jieli/
ideas/**
